{{> /partials/header }}

<h1>Profil</h1>

<div class="profile-field">
    <h2 class="profile-value">{{profile.name}}</h2>

    <span class="field-actions">
        <a href="/profiles/{{profile.id}}/edit" class="edit-btn">Éditer</a>
    </span>
</div>

<div class="profile-field">
    <p class="profile-value">{{profile.description}}</p>

    <span class="field-actions">
        <a href="/profiles/{{profile.id}}/edit" class="edit-btn">Éditer</a>
    </span>
</div>

<a href="/profiles">← Retour</a>

{{> /partials/footer }}
