{{ > /partials/header }}

<h1>Liste des utilisateurs</h1>

<a href="/users/create"> Ajouter un nouvel utilisateur</a>

<!--afficher la liste des users dans un formulaire -->


<form method="POST" action="/users/delete">

<!--on parcours les objects user et on affiche les champs selectionner grace au dto -->

<ol>
{{#users}}
	<li>
	
<!--on ajoute une case a cocher avec le selected et la value de l'id pour pouvoir la passer en post et la recup dans le controller de suppression -->

	<input type="checkbox" name="selected" value="{{id}}">
	<a href="users/show/{{id}}"> {{firstname}} {{lastname}} {{username}} {{email}}</a>
	</li>
{{/users}}
</ol>


<!--Si pas de users ca affiche :-->

{{^users}}


<div>
	Aucun utilisateur à afficher
</div>
{{/users}}

<button type="submit">Supprimer les utilisateurs sélectionnés</button>
</form>

{{ > /partials/footer }}